/*=========================================================================================
  File Name: _extraComponents.scss
  Description: partial - imports extra components styles
  ----------------------------------------------------------------------------------------
  Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
  Author: Pixinvent
  Author URL: http://www.themeforest.net/user/pixinvent
==========================================================================================*/


@import "extraComponents/awesomeSwiper";
@import "extraComponents/formWizard";
@import "extraComponents/vueSelect";
@import "extraComponents/charts";
@import "extraComponents/contextMenu";
@import "extraComponents/quillEditor";
@import "extraComponents/datePicker";
@import "extraComponents/datetimePicker";

// @import "vuexy/extraComponents/awesomeSwiper";
// @import "vuexy/extraComponents/formWizard";
// @import "vuexy/extraComponents/vueSelect";
// @import "vuexy/extraComponents/charts";
// @import "vuexy/extraComponents/contextMenu";
// @import "vuexy/extraComponents/quillEditor";
// @import "vuexy/extraComponents/datePicker";
// @import "vuexy/extraComponents/datetimePicker";

// @import "vuexy/extraComponents/awesomeSwiper";
// @import "vuexy/extraComponents/formWizard";
// @import "vuexy/extraComponents/vueSelect";
// @import "vuexy/extraComponents/charts";
// @import "vuexy/extraComponents/contextMenu";
// @import "vuexy/extraComponents/quillEditor";
// @import "vuexy/extraComponents/datePicker";
// @import "vuexy/extraComponents/datetimePicker";

/*=========================================================================================
  File Name: _extraComponents.scss
  Description: partial - imports extra components styles
  ----------------------------------------------------------------------------------------
  Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
  Author: Pixinvent
  Author URL: http://www.themeforest.net/user/pixinvent
==========================================================================================*/


/*=========================================================================================
  File Name: _extraComponents.scss
  Description: partial - imports extra components styles
  ----------------------------------------------------------------------------------------
  Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
  Author: Pixinvent
  Author URL: http://www.themeforest.net/user/pixinvent
==========================================================================================*/


$datetimePickerSpace: 13px;

.flatpickr-calendar {
  width: calc(307.875px + #{$datetimePickerSpace} * 2) !important;
  box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11), 0 5px 15px 0 rgba(0,0,0,0.08) !important;
  border-radius: .5rem !important;
  overflow: hidden;

  &.hasWeeks {
    width: calc(307.875px + #{$datetimePickerSpace} * 2 + 34px) !important;
  }

  &.arrowTop {
    &:after,
    &:before {
      display: none;
    }
  }

  &.arrowBottom {
    &:after,
    &:before {
      display: none;
    }
  }

  .numInputWrapper {
    width: 5.5ch !important;

    .numInput.cur-year {
      font-weight: 600 !important;
      color: #626262;
    }

    &:hover {
      background: none;

      .arrowUp,
      .arrowDown {
        border: none;
      }
    }
  }

  .flatpickr-months,
  .flatpickr-month {
    height: 44px !important;
  }

  .flatpickr-months {
    padding: 0;
  }

  .flatpickr-monthDropdown-months {
    color: #626262;
    border: 1px solid rgba(0,0,0,.3) !important;
    border-radius: .5rem !important;
    font-size: 1rem !important;
    font-weight: 500 !important;
    height: 27px;
    margin-left: 22px !important;
    margin-right: 3px !important;

    &:hover {
      background: transparent !important;
    }
  }

  .flatpickr-current-month {
    bottom: -11px;
    padding-top: 0;

    .numInputWrapper {
      vertical-align: middle;
    }
  }
  // .flatpickr-months,
  .flatpickr-prev-month,
  .flatpickr-next-month,
  .flatpickr-innerContainer {
    padding: $datetimePickerSpace !important;
  }

  .flatpickr-prev-month,
  .flatpickr-next-month {
    top: calc(#{$datetimePickerSpace} - 3px) !important;
  }

  .flatpickr-prev-month {
    left: $datetimePickerSpace !important;
  }

  .flatpickr-next-month {
    right: $datetimePickerSpace !important;
  }

  &.inline {
    display: block !important;
  }
  //selected date color
  .flatpickr-day {
    &.selected,
    &.startRange,
    &.endRange,
    &.selected.inRange,
    &.startRange.inRange,
    &.endRange.inRange,
    &.selected:focus,
    &.startRange:focus,
    &.endRange:focus,
    &.selected:hover,
    &.startRange:hover,
    &.endRange:hover,
    &.selected.prevMonthDay,
    &.startRange.prevMonthDay,
    &.endRange.prevMonthDay,
    &.selected.nextMonthDay,
    &.startRange.nextMonthDay,
    &.endRange.nextMonthDay {
      background: $warning !important;
      -webkit-box-shadow: none;
      box-shadow: none;
      color: $white;
      border-color: blue !important;
    }
  }
}
  //mouse hover color
  .flatpickr-day:hover{
    cursor: pointer;
      background: #ffb774 !important;
      // border-color: #e6e6e6;
  }
.flatpickr-input {

  &,
  &[type="hidden"] + input {
    padding: .7rem;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, .2);
    color: $content-color;
  }

  &.active {
    border: 1px solid $primary;
  }
}


.flatpickr-months .flatpickr-prev-month:hover svg,
.flatpickr-months .flatpickr-next-month:hover svg {
  fill: $warning !important;
}


.theme-dark {
  .flatpickr-calendar {
    background: $theme-dark-bg;
    border: 1px solid $theme-dark-border-color;

    .flatpickr-month,
    .flatpickr-weekday {
      color: $white;
    }

    .flatpickr-prev-month,
    .flatpickr-next-month {
      svg {
        fill: $white;
      }
    }

    .flatpickr-monthDropdown-months {
      background: $theme-light-dark-bg !important;

      option {
        background: $theme-dark-bg !important;
        color: $theme-dark-text-color;
      }
    }

    .flatpickr-day {
      color: $theme-dark-text-color;

      &.inRange,
      &.prevMonthDay.inRange,
      &.nextMonthDay.inRange,
      &.today.inRange,
      &.prevMonthDay.today.inRange,
      &.nextMonthDay.today.inRange,
      &:hover,
      &.prevMonthDay:hover,
      &.nextMonthDay:hover,
      &:focus,
      &.prevMonthDay:focus,
      &.nextMonthDay:focus {
        background: $theme-light-dark-bg;
        border-color: $theme-light-dark-bg;
      }

      &.today {
        border-color: #00ff51;
      }

      &.selected {
        color: $white;
      }

      &.today:hover,
      &.today:focus {
        // border-color: $theme-light-dark-bg;
        background: $theme-light-dark-bg;
        color: #fff;
      }

      &.prevMonthDay,
      &.nextMonthDay,
      &.disabled {
        opacity: .3;
      }
    }

    .flatpickr-time {
      border-top-color: $theme-dark-border-color !important;

      input {
        color: $theme-dark-text-color;
      }


      input:hover,
      .flatpickr-am-pm:hover,
      input:focus,
      .flatpickr-am-pm:focus {
        background: $theme-light-dark-bg;
      }

      .flatpickr-am-pm {
        color: $theme-dark-text-color;
      }


      ::-moz-selection {
        background: transparent;
      }

      ::selection {
        background: transparent;
      }
    }

    .numInputWrapper {
      .arrowUp {
        &:after {
          border-bottom-color: $white;
        }
      }

      .arrowDown {
        &:after {
          border-top-color: $white;
        }
      }
    }
  }
}


.vdp-datepicker {
  input {
    padding: .7rem;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, .2);
    color: $content-color;
    width: 100%;
  }

  input[disabled] {
    opacity: .5;
  }

  .vdp-datepicker__calendar {
    border-radius: .5rem;
    z-index: 401;

    header {
      .pre {
        border-top-left-radius: .5rem;
      }

      .next {
        border-top-right-radius: .5rem;
      }
    }
  }

  .day.blank {
    background: transparent;
  }

  .cell {

    &.day {
      border-radius: 50%;
      margin-left: 1%;
      margin-right: 1%;
      height: 37px;
      line-height: 37px;
      width: 12.285714286%;
    }

    &.month,
    &.year {
      border-radius: .5rem;
    }

    &:not(.blank):hover {
      // border-color: rgba(var(--vs-primary),1) !important;
      border-color: rgba(0,0,0,0) !important;
      background-color: #eee;
    }

    &.day.highlighted {
      background: rgba(var(--vs-primary),.7);
      color: $white;

      &:hover {
        background: rgba(var(--vs-primary), 1);
      }
    }

    &.selected {
      color: $white;
      background: rgba(var(--vs-primary),1) !important;

      &:hover {
        background: rgba(var(--vs-primary),1);
      }
    }
  }
}

